{%  extends 'wildlifecompliance/emails/base_email.html' %}

{%  block content %}
    <p>Dear Sir/Madam,</p>
    <p>Please be advised that a {{ inspection.inspection_type.inspection_type }} inspection is planned for {{ inspection.planned_for_date|date:"d/m/Y" }}, {{ inspection.planned_for_time|time:"h:s A" }}.</p>
    <p>Yours sincerely,</p>
    <p>Wildlife Licensing Section</p>
    <p>Should you need to contact the licensing section of the Department of Biodiversity, Conservation and Attractions, please send emails to wildlifelicensing@dbca.wa.gov.au or call (08) 9219 9000.</p>
{%  endblock %}
